<?xml version="1.0" encoding="UTF-8"?>
<phase>
	<uri value="v1/Plan">
		<!-- save -->
		<request type="JSON">
			<operation>POST</operation>
			<httpEntity>com.metlife.us.ins.product.gpr.domain.http.PlanHttpEntity</httpEntity>
			<dataEntity>com.metlife.us.ins.product.gpr.domain.data.Plan</dataEntity>
			<validatorBean></validatorBean><!-- coverageBusinessValidators -->
			<requestTransformerBean></requestTransformerBean>
			<responseTransformerBean></responseTransformerBean>
			<serviceBean></serviceBean>
		</request>
		<!-- get -->
		<request type="JSON">
			<operation>GET</operation>
			<httpEntity>com.metlife.us.ins.product.gpr.domain.http.PlanHttpEntity</httpEntity>
			<dataEntity>com.metlife.us.ins.product.gpr.domain.data.Plan</dataEntity>
			<validatorBean></validatorBean>
			<requestTransformerBean></requestTransformerBean>
			<responseTransformerBean></responseTransformerBean>
			<serviceBean></serviceBean>
		</request>
		<!-- put -->
		<request type="JSON">
			<operation>PUT</operation>
			<httpEntity>com.metlife.us.ins.product.gpr.domain.http.PlanHttpEntity</httpEntity>
			<dataEntity>com.metlife.us.ins.product.gpr.domain.data.Plan</dataEntity>
			<validatorBean></validatorBean>
			<requestTransformerBean></requestTransformerBean>
			<responseTransformerBean></responseTransformerBean>
			<serviceBean></serviceBean>
		</request>
	</uri>	
</phase>
